
body{
  background: linear-gradient(180deg, #04052A 0%, #3C0F52 100%);
  height: 100%;
  overflow: auto;
}
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
