
mat-card{
  margin-bottom: 16px;
  }
.content{
  padding: 16px;
  }

.content > mat-card {
    width: 200px;
    }

.mat-caption {
      color: antiquewhite;
      }
.star{
        transform: scale(0.8);
        }
#gdata{
color: black;
}
